*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: "header header" "main main" "footer footer"; 
    grid-template-columns: 3fr;
    grid-template-rows: 20vh ;

}


header{
    grid-area: header; 
    display: flex;
    align-items: center;
    justify-content: center;
}
header img{
    width: 20em;
}



main{
    grid-area: main;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    
}

.local{
    display: flex;
  background-image: url("./assets/fundoManga.svg");
  background-size:cover;
  background-repeat: no-repeat;
    width: 80em;
    height: 400px;
    align-items: center;
    justify-content: center;
    gap: 549px;
  
     
}




 .human, .Gods{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}


#persona1{
z-index: 1;
width: 142px;

     
}
#persona2{
    z-index: 1;
    width:142px;
}
.infoBasicH{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.infoBasicH div{
    visibility: hidden;
    text-align: center;
    border-radius: 0.5em;
    background-color: rgb(179, 255, 3);
    padding: 1em;
    width: 10em;
}
.infoBasicH{
    display: flex;
    flex-direction: column;
    gap: 7em;
}
.infoBasicH h2{
    font-size: 1.4em;

}
 #nameHuman,#nameGods{
       
    text-transform: uppercase;
}
#moreInfoH{
       visibility: hidden;
    background-color: rgb(179, 255, 3);
    padding: 1.5em;
    width: 14em;
    text-align: center;
}
#moreInfoG{
       visibility: hidden;
    background-color: rgb(179, 255, 3);
    padding: 1.5em;
    width: 14em;
    text-align: center;
}

.infoBasicG div{
    visibility: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    background-color: rgb(179, 255, 3);
    padding: 1em;
    width: 10em;

}
.infoBasicG{
    display: flex;
    flex-direction: column;
    gap: 10em;
}


.selectCharacter{
    display: flex;
    gap: 53.9em;
    background-color: #24171E;
    padding: 1em;
     }

.selectHuman{
   
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 0.6em;
}

 .humanLine,.humanLine1, .humanLine2{
    display: flex;
    gap: 0.8em;
    
     
 } 
 .humanLine img ,.humanLine1 img, .humanLine2 img{
    width: 4.2em;
    
 }
 .selectGod{
    display: flex;
    /* justify-content: left; */
    flex-direction: column;
    gap: 0.6em;
 }
 


 .godLine,.godLine1, .godLine2{
    display: flex;
    gap: 0.8em;
      
 } 
 .godLine2{
    justify-content: right;
 }
 .godLine img ,.godLine1 img, .godLine2 img{
    width: 4.2em;
    
 }
 footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05050D;
 }
 footer img{
    width: 120px;
 }
 footer p{
    font-size: 2em;
    color: #ffff;
   
 }

 .campo_inf{
    visibility: collapse;
    background-color: #271f23;
    position:fixed;
    display: flex;
    z-index: 1;
    width: 50em;
    top:1em;
    right: 17em;
    padding: 5em;
    border: #05050D solid;

}
.campo_inf p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    line-height: 1.5;
    margin-bottom: 0.4em;
    color: rgb(230, 229, 229);
}
.campo_inf h2 {
  font-size: 1.5em;
}
h2 {
    margin-bottom: 0.4em;
}
.campo_inf img{
    width: 18em;
}
.detalhi_info{
    display: flex;
    flex-direction: column;
}.icon{
    width: 0.4em; 
    position: relative;
    right:  10em;
   
}
.icon_close{
    width: 5%;
    height: 5%;
}


@media(max-width:768px){
    .local{
       
        width: 40em;
        height: 280px;
        gap: 191px;
      
         
    }
    
    #persona1{
        z-index: 1;
        width: 100px;
        
             
        }
        #persona2{
            z-index: 1;
            width:100px;
        }   
        .infoBasicH div{
            padding: 1em;
            width: 7em;
        }
        .infoBasicH{
            gap: 4em;
        }
        .infoBasicH h2{
            font-size: 1em;
        
        }
        
        .infoBasicG div{
            padding: 1em;
            width: 7em;
        }
        .infoBasicG{
            gap: 4em;
        }
        .infoBasicG h2{
            font-size: 1em;
        
        }
        #moreInfoH{     
         padding: 1em;
         width: 10em;
         font-size:0.8em;
     }
     #moreInfoG{
            
         padding: 1em;
         width: 10em;
         font-size:0.8em;
        
     }
        .selectCharacter{
            gap: 26em;
        }
        
             .humanLine img ,.humanLine1 img, .humanLine2 img{
                width: 2.5em;
                
             }
            
            
             .godLine img ,.godLine1 img, .godLine2 img{
                width: 2.5em;
                
             }
             
        }
        @media(max-width:500px){
            
            .local{
       
                width: 30em;
                height: 220px;
                gap: 72px;
              
                 
            }
            #persona1{
                z-index: 1;
                width: 77px;
                
                     
                }
                #persona2{
                    z-index: 1;
                    width:77px;
                }   
            
            .selectCharacter{
                gap: 11em;
            }
            footer img{
                width:90px;
            }
               
        }
        @media (max-width:425px) {
            .local{
       
                width: 25em;
                height: 197px;
                gap: 6px;
                 
            }

            #persona1{
                z-index: 1;
                width: 69px;
                
                     
                }
                #persona2{
                    z-index: 1;
                    width:69px;
                }   
                
            .selectCharacter{
                gap: 6.4em;
            }
        }
        @media(max-width:375px){
            .local{
       
                width: 22em;
                height: 199px;
                gap: 28px;
              
                 
            }
            #persona1{
                z-index: 1;
                width: 70px;
                
                     
                }
                #persona2{
                    z-index: 1;
                    width:70px;
                }   
            .selectCharacter{
                gap: 2em;
            }
            .humanLine img ,.humanLine1 img, .humanLine2 img{
                width: 2.7em;
                
             }
            
            
             .godLine img ,.godLine1 img, .godLine2 img{
                width: 2.7em;
                
             }
            .infoBasicH div{
                padding: 1em;
                width: 6em;
            }
            .infoBasicH{
                gap: 3em;
            }
            .infoBasicH h2{
                font-size: 0.7em;
            
            }
            
            .infoBasicG div{
                padding: 1em;
                width: 6em;
            }
            .infoBasicG{
                gap: 3em;
            }
            .infoBasicG h2{
                font-size: 0.7em;
            
            }
            #moreInfoH{     
                padding: 1em;
                width: 8em;
                font-size:0.7em;
            }
            #moreInfoG{
                   
                padding: 1em;
                width: 8em;
                font-size:0.7em;
               
            }
            
            footer img{
                width: 120px;
             }
             footer p{
                font-size: 1.7em; 
             }
        }
       
        @media(max-width:320px){
            .local{
       
                width: 20em;
                height: 185px;
                gap: 10px;
              
                 
            }
            #persona1{
                z-index: 1;
                width: 65px;
                
                     
                }
                #persona2{
                    z-index: 1;
                    width:65px;
                }   

                .infoBasicH div{
                    padding: 1em;
                    width: 5em;
                }
                .infoBasicH{
                    gap: 3em;
                }
                .infoBasicH h2{
                    font-size: 0.6em;
                
                }
                
                .infoBasicG div{
                    padding: 1em;
                    width: 5em;
                }
                .infoBasicG{
                    gap: 3em;
                }
                .infoBasicG h2{
                    font-size: 0.6em;
                
                }
                #moreInfoH{     
                 padding: 0.9em;
                 width: 7em;
                 font-size:0.8em;
             }
             #moreInfoG{
                    
                 padding: 0.9em;
                 width: 7em;
                 font-size:0.8em;
                
             }
             .selectCharacter{
                gap: 1em;
            }
            .humanLine img ,.humanLine1 img, .humanLine2 img{
                width: 2.3em;
                
             }
            
            
             .godLine img ,.godLine1 img, .godLine2 img{
                width: 2.3em;
                
             }
             footer{
                height: 90px;
             }
             footer img{
                width: 80px;
             }
             footer p{
                font-size: 1.5em; 
             }
             
        }

 /* @media (max-width:500px) {
    .local{

        width: 29em;
        height: 17em;
        gap: 1em;   
         
    }
    #persona1{
        z-index: 1;
        width: 6em;
        
             
        }
        #persona2{
            z-index: 1;
            width: 6em;
        }

        .infoBasicG div{
           
    
            padding: 1em;
            width: 8em;
            height: 4.5em;
        }
        .infoBasicG{
            display: flex;
            flex-direction: column;
            gap: 5em;
        }
        .infoBasicG h2{
            font-size: 1em;
        
        }
       
     #moreInfoG{
         
         padding: 1.5em;
         width: 8em;
         text-align: center;
         font-size: 0.9em;
     }

    
    .infoBasicH div{
    
        padding: 1em;
        width: 8em;
    }
    .infoBasicH{
        display: flex;
        flex-direction: column;
        gap: 5em;
    }
    .infoBasicH h2{
        font-size: 1em;
    
    }

     #moreInfoH{
        visibility: hidden;
     background-color: rgb(179, 255, 3);
     padding: 1.5em;
     width: 8em;
     text-align: center;
     font-size: 0.9em;
 }

    .selectCharacter{
       
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 8.9em;
        background-color: #24171E;
        padding: 20px;
         }
         
         .selectCharacter img{
            width:2.6em;
         }
         
 }
 @media (max-width:414px) {

    .local{

        width: 22.5em;
        height: 14.6em;
        gap: 2.3em;   
         
    }
    
 }
 @media (max-width: 375px) {
    .local{

        width: 22.5em;
        height: 14.6em;
        gap: 2.3em;   
         
    }
    #persona1{
        z-index: 1;
        width: 5.2em;
        
             
        }
        #persona2{
            z-index: 1;
            width: 5.2em;
        }

        .infoBasicG div{
           
    
            padding: 1em;
            width: 5em;
    
           
        }
        .infoBasicG{
            display: flex;
            flex-direction: column;
            gap: 5em;
        }
        .infoBasicG h2{
            font-size: 0.7em;
        
        }
       
     #moreInfoG{
         
         padding: 1.5em;
         width: 7em;
         text-align: center;
         font-size: 0.7em;
     }

     .infoBasicH div{
    
        padding: 1em;
        width: 5em;
    
        
    }
    .infoBasicH{
        display: flex;
        flex-direction: column;
        gap: 5em;
    }
    .infoBasicH h2{
        font-size: 0.7em;
    
    }

     #moreInfoH{
        visibility: hidden;
     background-color: rgb(179, 255, 3);
     padding: 1.5em;
     width: 7em;
     text-align: center;
     font-size: 0.7em;
 }

 .selectCharacter{
       
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.9em;
    background-color: #24171E;
    padding: 20px;
    height: 229px;
     }
     
     .selectCharacter img{
        width:2.8em;
     }
     

 } */
 